@import url(./app/scss/normalize.css);
* {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: 'Lato', sans-serif;
  color: #414141;
  cursor: default; }

.section-outer {
  padding-right: 20px;
  padding-left: 20px; }

.section-inner {
  max-width: 1180px;
  margin: 0 auto; }

.description-item__icon {
  margin-bottom: 20px; }

.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: bold; }

.description-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6C6C6C;
  margin-bottom: 30px; }

.btn-main {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 15px 50px;
  font-size: 18px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: linear-gradient(to right, #FE985B, #FE4FA7);
  color: #fff; }
  .btn-main:hover {
    background: linear-gradient(to right, #FE4FA7, #FE985B); }

.btn-secondary {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 15px 50px;
  font-size: 18px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #414141;
  background: #fff;
  color: #414141;
  transition: .2s; }
  .btn-secondary:hover {
    color: #FE4FA7;
    border-color: #FE4FA7; }

.section-header {
  color: #fff;
  background: url("../img/Bitmap.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 10; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(20, 39, 41, 0.5); }
  .section-header-logo {
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1; }
    .section-header-logo a {
      color: #fff;
      text-decoration: none;
      position: relative;
      transition: .3s ease;
      bottom: 0; }
    .section-header-logo a:hover {
      bottom: 5px;
      transition: .3s ease; }
  .section-header-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title, .section-header-wrapper__subtitle {
      text-align: center; }
    @media (max-width: 767px) {
      .section-header-wrapper__title {
        font-size: 45px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 10px; } }
    @media (min-width: 768px) {
      .section-header-wrapper__title {
        font-size: 55px;
        font-weight: bold;
        line-height: 60px;
        margin-bottom: 20px; } }
    .section-header-wrapper__subtitle {
      font-size: 18px;
      line-height: 32px;
      font-family: 'Montserrat', sans-serif; }
      @media (max-width: 767px) {
        .section-header-wrapper__subtitle {
          margin-bottom: 10px; } }
      @media (min-width: 768px) {
        .section-header-wrapper__subtitle {
          width: 65%;
          margin: 0 auto 45px; } }
    .section-header-wrapper__form {
      display: flex;
      flex-direction: row; }
      .section-header-wrapper__form-input {
        flex: 1; }
        .section-header-wrapper__form-input input {
          font-family: 'Montserrat', sans-serif;
          border: none;
          background-color: rgba(255, 255, 255, 0.25);
          color: #fff;
          font-size: 16px;
          margin: 0;
          padding: 16px 20px;
          outline: none;
          border-radius: 4px;
          width: 100%;
          transition: .2s; }
          .section-header-wrapper__form-input input::placeholder {
            color: #fff; }
          .section-header-wrapper__form-input input:focus {
            background-color: rgba(255, 255, 255, 0.5); }
      @media (max-width: 767px) {
        .section-header-wrapper__form {
          flex-direction: column; }
          .section-header-wrapper__form-input {
            margin-bottom: 10px; }
          .section-header-wrapper__form-button {
            margin-top: 10px;
            flex: 1; }
            .section-header-wrapper__form-button .btn-main {
              width: 100%; } }
      @media (min-width: 768px) {
        .section-header-wrapper__form-input {
          padding-right: 40px; } }

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-promo-1 {
    display: flex; }
    .section-promo-1__content, .section-promo-1__video {
      flex-basis: 50%; }
    .section-promo-1__content .title {
      font-size: 32px;
      font-weight: bold;
      line-height: 51px;
      margin-bottom: 55px; }
    .section-promo-1__video {
      position: relative; }
      .section-promo-1__video .video {
        width: 100%;
        border-radius: 10px;
        outline: none; }
      .section-promo-1__video img {
        width: 100%;
        height: auto; }
    @media (max-width: 767px) {
      .section-promo-1 {
        flex-direction: column; }
        .section-promo-1__video {
          order: -1;
          margin-bottom: 20px; } }
    @media (max-width: 991px) {
      .section-promo-1__content {
        padding-right: 20px; }
        .section-promo-1__content .title {
          text-align: center; }
      .section-promo-1 .description-item__text {
        width: 90%;
        margin: 0 auto; }
      .section-promo-1 .description-item__title {
        text-align: center; } }
    @media (min-width: 992px) {
      .section-promo-1__content {
        padding-right: 80px; }
      .section-promo-1 .description-item__text {
        width: 70%; } }
  .section-promo-2 {
    display: flex;
    padding-top: 80px;
    border-top: 1px solid #E2E2E2;
    text-align: center; }
    @media (max-width: 767px) {
      .section-promo-2 {
        flex-direction: column; } }
    @media (min-width: 576px) {
      .section-promo-2 .description-item + .description-item {
        margin-left: 40px; } }
    @media (min-width: 768px) {
      .section-promo-2 {
        margin-top: 110px; } }

.section-founder {
  background-color: #F6FAFD;
  padding-top: 35px; }
  .section-founder .section-inner {
    display: flex; }
  .section-founder__content {
    align-self: center; }
    .section-founder__content-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      line-height: 40px; }
    .section-founder__content-name {
      font-size: 24px;
      font-weight: bold; }
    .section-founder__content-post {
      font-size: 20px; }
  @media (max-width: 767px) {
    .section-founder .section-inner {
      flex-direction: column; }
    .section-founder__content {
      order: -1;
      margin-bottom: 40px; }
    .section-founder__img img {
      max-width: 100%; } }
  @media (min-width: 768px) {
    .section-founder__img {
      align-self: flex-end; }
    .section-founder__content {
      padding-left: 50px; }
    .section-founder-text {
      width: 75%; } }

.section-plans {
  padding-top: 120px;
  padding-bottom: 150px;
  text-align: center; }
  .section-plans__title {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 20px;
    font-weight: bold; }
  .section-plans__subtitle {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 80px; }
  .section-plans__list {
    display: flex;
    justify-content: center; }
    .section-plans__list .active {
      background-color: #F6FAFD; }
    .section-plans__list-item {
      flex-basis: 370px;
      padding: 45px 60px; }
      .section-plans__list-item_title {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 26px; }
      .section-plans__list-item_price {
        margin-bottom: 26px; }
        .section-plans__list-item_price .prefix {
          color: #FE4FA7;
          font-size: 72px;
          font-weight: bold; }
        .section-plans__list-item_price .postfix {
          font-size: 14px; }
      .section-plans__list-item_describtion {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #6C6C6C;
        margin-bottom: 50px; }
  @media (max-width: 575px) {
    .section-plans__list {
      flex-direction: column; } }
  @media (min-width: 576px) {
    .section-plans__subtitle {
      margin-right: auto;
      margin-left: auto;
      width: 50%; } }

.section-free {
  background: linear-gradient(to right, #FE985B, #FE4FA7);
  text-align: center;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-free__title {
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 26px; }
  .section-free__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 40px; }
  .section-free__button .btn-secondary {
    border: none; }
  @media (min-width: 992px) {
    .section-free__description {
      width: 50%; } }

.section-footer {
  padding-top: 90px;
  padding-bottom: 90px; }
  .section-footer__logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px; }
  .section-footer__nav {
    margin: 0 0 75px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center; }
    .section-footer__nav li a {
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      text-decoration: none;
      color: #464646;
      text-transform: uppercase;
      transition: .2s; }
      .section-footer__nav li a:active, .section-footer__nav li a:hover {
        color: #FE50A6; }
    @media (max-width: 575px) {
      .section-footer__nav {
        flex-direction: column;
        text-align: center; }
        .section-footer__nav li + li {
          margin-top: 15px; } }
    @media (min-width: 576px) {
      .section-footer__nav li + li {
        margin-left: 60px; } }
  .section-footer__copyright_and_links {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; }
    .section-footer__copyright_and_links-copyright {
      margin-bottom: 20px; }
    .section-footer__copyright_and_links-links .helper-links {
      display: flex;
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .section-footer__copyright_and_links-links .helper-links li + li {
        margin-left: 30px; }
      .section-footer__copyright_and_links-links .helper-links li a {
        text-decoration: none;
        color: #464646;
        transition: .2s; }
        .section-footer__copyright_and_links-links .helper-links li a:active, .section-footer__copyright_and_links-links .helper-links li a:hover {
          text-decoration: underline; }
    @media (min-width: 1200px) {
      .section-footer__copyright_and_links {
        width: 60%;
        margin: 0 auto; } }
    @media (max-width: 767px) {
      .section-footer__copyright_and_links {
        flex-direction: column;
        text-align: center; }
        .section-footer__copyright_and_links .helper-links {
          display: inline-flex; } }
    @media (min-width: 768px) {
      .section-footer__copyright_and_links-copyright {
        margin-right: 15px; }
      .section-footer__copyright_and_links .helper-links {
        display: flex; } }
